.time-bar {
    width: 400px;
    height: 30px;
    background-color: transparent;
    border: 5px solid #73788d;
    border-radius: 5px;

    position: relative;
    left: 50%;
    top: 200px;
    margin-left: -205px;
}

.filler {
    /* background: linear-gradient(to right, rgb(2, 102, 2), green, rgb(181, 187, 8), rgb(210, 138, 4), rgb(172, 6, 6), rgb(103, 5, 5));
    width: 400px; */
    height: 30px;

    position: absolute;
    left: 0;
    top: 0;
    animation: timing 25s linear 1 reverse;
    animation-fill-mode: forwards;
}

/* @keyframes timing {
    0% {
        transform: scaleX(400px);
    }
    100% {
        transform: scaleX(0);
    }
} */

@keyframes timing {
    0% {
        width: 100%;
        background: linear-gradient(to right, rgb(2, 102, 2), green, rgb(181, 187, 8), rgb(210, 138, 4), rgb(172, 6, 6), rgb(103, 5, 5));
    }
    20%{
        background: linear-gradient(to right, rgb(2, 102, 2), green, rgb(181, 187, 8), rgb(210, 138, 4), rgb(172, 6, 6));
    }
    40%{
        background: linear-gradient(to right, rgb(2, 102, 2), green, rgb(181, 187, 8), rgb(210, 138, 4));
    }
    60%{
        background: linear-gradient(to right, rgb(2, 102, 2), green, rgb(181, 187, 8));
    }
    80%{
        background: linear-gradient(to right, rgb(2, 102, 2), green);
    }
    100% {
        width: 0%;
        background: rgb(2, 102, 2);
    }
}