body {
    margin: 0;
    background-color: rgb(70, 52, 33);
}

                /* SNOW */

.snowflake {
    background-color: aliceblue;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    position: absolute; 
    top: -10px;   
    z-index: 1000;
}

.odd {
    animation: first-snow 18s linear infinite;
}

.even {
    animation: second-snow 20s linear infinite;
}

.second-wave {
    animation-delay: 2s;
}

.third-wave {
    animation-delay: 4s;
}

.fourth-wave {
    animation-delay: 6s;
}

.fifth-wave {
    animation-delay: 8s;
}

.sixth-wave {
    animation-delay: 10s;
}

.seventh-wave {
    animation-delay: 12s;
}

.eighth-wave {
    animation-delay: 14s;
}

.ninth-wave {
    animation-delay: 16s;
}

.tenth-wave {
    animation-delay: 18s;
}

.eleventh-wave {
    animation-delay: 20s;
}

.twelfth-wave {
    animation-delay: 22s;
}

.thirteenth-wave {
    animation-delay: 24s;
}

.fourteenth-wave {
    animation-delay: 26s;
}

.fifteenth-wave {
    animation-delay: 28s;
}

.sixteenth-wave {
    animation-delay: 30s;
}

.seventeenth-wave {
    animation-delay: 32s;
}

.eighteenth-wave {
    animation-delay: 34s;
}

.nineteenth-wave {
    animation-delay: 36s;
}

.twentieth-wave {
    animation-delay: 38s;
}

.snow-2 {
    left: 5%;
}

.snow-3 {
    left: 10%;
}
.snow-4 {
    left: 15%;
}

.snow-5 {
    left: 20%;
}

.snow-6 {
    left: 25%;
}

.snow-7 {
    left: 30%;
}

.snow-8 {
    left: 35%;
}

.snow-9 {
    left: 40%;
}

.snow-10 {
    left: 45%;
}

.snow-11 {
    left: 50%;
}

.snow-12 {
    left: 55%;
}

.snow-13 {
    left: 60%;
}

.snow-14 {
    left: 65%;
}

.snow-15 {
    left: 70%;
}

.snow-16 {
    left: 75%;
}

.snow-17 {
    left: 80%;
}

.snow-18 {
    left: 85%;
}

.snow-19 {
    left: 90%;
}

.snow-20 {
    left: 95%;
}

@keyframes first-snow {
    0%   {top: 0%;}
    25%  {top: 25%;}
    50%  {top: 50%;}
    75%  {top: 75%;}
    100% {top: 99%;}
}

@keyframes second-snow {
    0%   {top: 0%;}
    25%  {top: 25%;}
    50%  {top: 50%;}
    75%  {top: 75%;}
    100% {top: 99%;}
}

                /* HEADER */

header {
    position: absolute;
    left: 50%;
    margin-left: -400px;

    width: 800px;
    text-align: center;
    padding-top: 50px;
    font-variant: small-caps;
    letter-spacing: 4px;
    color: rgba(166, 16, 34, 1);
}

h1 {
    font-size: 4vw;
}

h3 {
    font-size: 2vw;
}

                /* GARLAND */

.garland {
    position: relative;
    left: 14px;       
}

.section-g {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 101; 
    border: 50px dotted green;
}

.g-2 {
    rotate: 20deg;
}

.g-3 {
    rotate: 40deg;
}

.g-4 {
    rotate: 60deg;
}

.g-5 {
    rotate: 80deg;
}

.g-6 {
    rotate: 100deg;    
}

.berry {
    position: absolute;
    z-index: 101;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(166, 16, 34, 1);
}

.b-1 {
    top: 45px;
    left: 18px;
}

.b-2 {
    top: 95px;
    left: 90px;
}

.b-3 {
    top: 10px;
    left: 70px;
}

.b-4 {
    top: 110px;
    left: 28px;
}

.b-5 {
    top: 52px;
    left: 118px;
}

                /* COLUMN */

.column {
    position: absolute;
    
    top: 3%;
    height: 94vh;
    width: 100px;
    background-color: rgb(255, 254, 239);
}

.c-left {
    left: 30px;
}

.c-right {
    right: 30px;
}

.up,
.down {
    position: absolute;    
    border: 80px solid transparent;
}

.up {
    top: 0;
    border-top-color: rgb(255, 254, 239);
}

.u-r,
.d-r {
    right: 0;
}

.down {
    bottom: 0;
    border-bottom-color: rgb(255, 254, 239);    
}

.shadow {
    position: absolute;    
    background-color: rgba(54, 54, 54, 0.8);
    border-radius: 5px;
    width: 8px;
}

.s-l-1 {
    left: 28px;
    top: 6%;
    height: 88vh;
}

.s-l-2 {
    left: 54px;
    top: 5.75%;
    height: 88.5vh;
}

.s-l-3 {
    left: 78px;
    top: 5.5%;
    height: 89vh;
}

.s-l-4 {
    left: 102px;
    top: 5.75%;
    height: 88.5vh;
}

.s-l-5 {
    left: 124px;
    top: 6%;
    height: 88vh; 
}

.s-r-1 {
    right: 28px;
    top: 6%;
    height: 88vh;
}

.s-r-2 {
    right: 54px;
    top: 5.75%;
    height: 88.5vh;
}

.s-r-3 {
    right: 78px;
    top: 5.5%;
    height: 89vh;
}

.s-r-4 {
    right: 102px;
    top: 5.75%;
    height: 88.5vh;
}

.s-r-5 {
    right: 124px;
    top: 6%;
    height: 88vh; 
}



.frame{
    top: 40vh;
    width: 210px;
    height: 0px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
}
  
.frame:hover .hex-inner{
    height: 100px;
    top: 90px !important;
    border-radius: 4px;
}
  
.frame:hover .label{
    transform: scale(.90);
    -webkit-transform: scale(.90);
}
  
.hex-outer{
    background: rgba(166, 16, 34, 1);
    width: 210px;
    height: 120px;
}
  
.hex-inner{
    background: #373940;
    width: 200px;
    height: 115px;
    position: relative;
    left: 5px;
    top: 82px !important;
    border-radius: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
}
  
.h1{
    position: absolute;
    top: 80px;
}
  
.h2{
    position: absolute;
    top: 80px;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}
  
.h3{
    position: absolute;
    top: 80px;
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}
  
.label{
    position: absolute;
    color: rgba(166, 16, 34, 1);
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    width: 180px;
    text-decoration: none;
    left: 50%;
    margin-left: -90px;
    top: 80px;
      transition: all .4s;
    -webkit-transition: all .4s;
}

.sure {
    font-size: 20px;
    font-variant: small-caps;
    margin-left: -90px;
    top: 174px;
      transition: all .4s;
    -webkit-transition: all .4s;
}