body {
    margin: 0;
    background-color: rgb(70, 52, 33);
}

                /* HEADER */

header {
    position: absolute;
    left: 50%;
    margin-left: -400px;

    width: 800px;
    text-align: center;
    padding-top: 50px;
    font-variant: small-caps;
    letter-spacing: 4px;
    color: rgba(166, 16, 34, 1);
}

h1 {
    font-size: 4vw;
}

h3 {
    font-size: 2vw;
}

                /* GARLAND */

.garland {
    position: relative;
    left: 14px;       
}

.section-g {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 101; 
    border: 50px dotted green;
}

.g-2 {
    rotate: 20deg;
}

.g-3 {
    rotate: 40deg;
}

.g-4 {
    rotate: 60deg;
}

.g-5 {
    rotate: 80deg;
}

.g-6 {
    rotate: 100deg;    
}

.berry {
    position: absolute;
    z-index: 101;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(166, 16, 34, 1);
}

.b-1 {
    top: 45px;
    left: 18px;
}

.b-2 {
    top: 95px;
    left: 90px;
}

.b-3 {
    top: 10px;
    left: 70px;
}

.b-4 {
    top: 110px;
    left: 28px;
}

.b-5 {
    top: 52px;
    left: 118px;
}

                /* COLUMN */

.column {
    position: absolute;
    
    top: 3%;
    height: 94vh;
    width: 100px;
    background-color: rgb(255, 254, 239);
}

.c-left {
    left: 30px;
}

.c-right {
    right: 30px;
}

.up,
.down {
    position: absolute;    
    border: 80px solid transparent;
}

.up {
    top: 0;
    border-top-color: rgb(255, 254, 239);
}

.u-r,
.d-r {
    right: 0;
}

.down {
    bottom: 0;
    border-bottom-color: rgb(255, 254, 239);    
}

.shadow {
    position: absolute;    
    background-color: rgba(54, 54, 54, 0.8);
    border-radius: 5px;
    width: 8px;
}

.s-l-1 {
    left: 28px;
    top: 6%;
    height: 88vh;
}

.s-l-2 {
    left: 54px;
    top: 5.75%;
    height: 88.5vh;
}

.s-l-3 {
    left: 78px;
    top: 5.5%;
    height: 89vh;
}

.s-l-4 {
    left: 102px;
    top: 5.75%;
    height: 88.5vh;
}

.s-l-5 {
    left: 124px;
    top: 6%;
    height: 88vh; 
}

.s-r-1 {
    right: 28px;
    top: 6%;
    height: 88vh;
}

.s-r-2 {
    right: 54px;
    top: 5.75%;
    height: 88.5vh;
}

.s-r-3 {
    right: 78px;
    top: 5.5%;
    height: 89vh;
}

.s-r-4 {
    right: 102px;
    top: 5.75%;
    height: 88.5vh;
}

.s-r-5 {
    right: 124px;
    top: 6%;
    height: 88vh; 
}



.frame{
    top: 40vh;
    width: 210px;
    height: 0px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
}
  
.frame:hover .hex-inner{
    height: 100px;
    top: 90px !important;
    border-radius: 4px;
}
  
.frame:hover .label{
    transform: scale(.90);
    -webkit-transform: scale(.90);
}
  
.hex-outer{
    background: rgba(166, 16, 34, 1);
    width: 210px;
    height: 120px;
}
  
.hex-inner{
    background: #373940;
    width: 200px;
    height: 115px;
    position: relative;
    left: 5px;
    top: 82px !important;
    border-radius: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
}
  
.h1{
    position: absolute;
    top: 80px;
}
  
.h2{
    position: absolute;
    top: 80px;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}
  
.h3{
    position: absolute;
    top: 80px;
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}
  
.label{
    position: absolute;
    color: rgba(166, 16, 34, 1);
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    width: 180px;
    text-decoration: none;
    left: 50%;
    margin-left: -90px;
    top: 80px;
      transition: all .4s;
    -webkit-transition: all .4s;
}

.sure {
    font-size: 20px;
    font-variant: small-caps;
    margin-left: -90px;
    top: 174px;
      transition: all .4s;
    -webkit-transition: all .4s;
}