
                /* SNOW */

.snowflake {
    background-color: aliceblue;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    position: absolute; 
    top: -10px;   
    z-index: 1000;
}

.odd {
    animation: first-snow 18s linear infinite;
}

.even {
    animation: second-snow 20s linear infinite;
}

.second-wave {
    animation-delay: 2s;
}

.third-wave {
    animation-delay: 4s;
}

.fourth-wave {
    animation-delay: 6s;
}

.fifth-wave {
    animation-delay: 8s;
}

.sixth-wave {
    animation-delay: 10s;
}

.seventh-wave {
    animation-delay: 12s;
}

.eighth-wave {
    animation-delay: 14s;
}

.ninth-wave {
    animation-delay: 16s;
}

.tenth-wave {
    animation-delay: 18s;
}

.eleventh-wave {
    animation-delay: 20s;
}

.twelfth-wave {
    animation-delay: 22s;
}

.thirteenth-wave {
    animation-delay: 24s;
}

.fourteenth-wave {
    animation-delay: 26s;
}

.fifteenth-wave {
    animation-delay: 28s;
}

.sixteenth-wave {
    animation-delay: 30s;
}

.seventeenth-wave {
    animation-delay: 32s;
}

.eighteenth-wave {
    animation-delay: 34s;
}

.nineteenth-wave {
    animation-delay: 36s;
}

.twentieth-wave {
    animation-delay: 38s;
}

.snow-1 {
    left: 1%;
}

.snow-2 {
    left: 5%;
}

.snow-3 {
    left: 10%;
}
.snow-4 {
    left: 15%;
}

.snow-5 {
    left: 20%;
}

.snow-6 {
    left: 25%;
}

.snow-7 {
    left: 30%;
}

.snow-8 {
    left: 35%;
}

.snow-9 {
    left: 40%;
}

.snow-10 {
    left: 45%;
}

.snow-11 {
    left: 50%;
}

.snow-12 {
    left: 55%;
}

.snow-13 {
    left: 60%;
}

.snow-14 {
    left: 65%;
}

.snow-15 {
    left: 70%;
}

.snow-16 {
    left: 75%;
}

.snow-17 {
    left: 80%;
}

.snow-18 {
    left: 85%;
}

.snow-19 {
    left: 90%;
}

.snow-20 {
    left: 95%;
}

.snow-21 {
    left: 99%;
}

@keyframes first-snow {
    0%   {top: 0%;}
    25%  {top: 25%;}
    50%  {top: 50%;}
    75%  {top: 75%;}
    100% {top: 99%;}
}

@keyframes second-snow {
    0%   {top: 0%;}
    25%  {top: 25%;}
    50%  {top: 50%;}
    75%  {top: 75%;}
    100% {top: 99%;}
}