body {
    height: 100%;
    margin: 0;
    color: rgba(166, 16, 34, 1);
    background-color: rgb(70, 52, 33);
    user-select: none;
    /* overflow: hidden; */
}

header {
    height: 10vh;
    text-align: center;
    font-size: 5vw;
    padding-top: 20px;
}

main {
    text-align: center;
}

p {
    margin: 0 23%;
    text-align: justify;
    color: rgb(255, 254, 239);
    font-size: 1.2vw;
}

.start-button-text {
    color: rgba(166, 16, 34, 1);
}

h1,
h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5vw;
}

h2 {
    font-size: 2vw;
}

.introduction-text {
    height: 40vh;
    padding: 5px;
    padding-right: 15px;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(166, 16, 34, 0.3);
    border-radius: 10px;
}

.startTextButton {
    display: block;
    position: relative;
    width: 500px;
    height: 60px;
    margin: 40px 50%;
    left: -250px;

    background-color: rgb(255, 254, 239);
    border: 3px dotted rgba(166, 16, 34, 1);
    border-radius: 12px;
    text-align: left;
    font-size: 30px;
}

.startTextButton:hover {
    cursor: pointer;
    filter: brightness(1.75);
}

.info-class {
    position: absolute;
    top: 0;
    right: 0;

    height: 16px;
    width: 16px;
    padding: 0 1px;
    padding-top: 2px;
    border-radius: 50%;
    text-align: center;
    color: aliceblue;
    background-color: black; 
    font-size: 16px;   
}

.info-hero {
    display: none;
    position: absolute;
    left: -30px;
    bottom: 28px;

    width: 400px;
    height: 200px;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    background-color: rgba(10, 10, 10, 0.8);
}

.arrow {
    display: none;
    position: absolute;
    left: -1px;
    bottom: 8px;

    border: 10px solid transparent;
    border-top-color: rgba(10, 10, 10, 0.8);
}

.info-class:hover .info-hero {
    display: block;
}

.info-class:hover .arrow {
    display: block;
}

a,
a:visited {
    text-decoration: none;
    font-variant: small-caps;
    color: rgba(166, 16, 34, 1);
}

                /* COLUMN */

.column {
    position: absolute;
                    
    top: 3%;
    height: 94vh;
    width: 100px;
    background-color: rgb(255, 254, 239);
}
                
.c-left {
    left: 30px;
}
                
.c-right {
    right: 30px;
}
                
.up,
.down {
    position: absolute;    
    border: 80px solid transparent;
}
                
.up {
    top: 0;
    border-top-color: rgb(255, 254, 239);
}
                
.u-r,
.d-r {
    right: 0;
}
                
.down {
    bottom: 0;
    border-bottom-color: rgb(255, 254, 239);    
}
                
.shadow {
    position: absolute;    
    background-color: rgba(54, 54, 54, 0.8);
    border-radius: 5px;
    width: 8px;
}
                
.s-l-1 {
    left: 28px;
    top: 6%;
    height: 88vh;
}
                
.s-l-2 {
    left: 54px;
    top: 5.75%;
    height: 88.5vh;
}
                
.s-l-3 {
    left: 78px;
    top: 5.5%;
    height: 89vh;
}
                
.s-l-4 {
    left: 102px;
    top: 5.75%;
    height: 88.5vh;
}
                
.s-l-5 {
    left: 124px;
    top: 6%;
    height: 88vh; 
}
                
.s-r-1 {
    right: 28px;
    top: 6%;
    height: 88vh;
}
                
.s-r-2 {
    right: 54px;
    top: 5.75%;
    height: 88.5vh;
}
                
.s-r-3 {
    right: 78px;
    top: 5.5%;
    height: 89vh;
}
                
.s-r-4 {
    right: 102px;
    top: 5.75%;
    height: 88.5vh;
}
                
.s-r-5 {
    right: 124px;
    top: 6%;
    height: 88vh; 
}